.service-top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    background: url(../../../images/price-bg2.webp) center / cover no-repeat;
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.service-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.service-top .text {
    max-width: 800px;
}

.service-top .text h1 {
    font-size: 65px;
    margin-bottom: 50px;
}

.service-top .text p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

@media (max-width: 1400px) {
    .service-top .text {
        max-width: 640px;
        margin-bottom: 30px;
    }

    .service-top .text h1 {
        font-size: 45px;
    }

    .service-top .text p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .service-top__inner {
        margin-top: 100px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-top .top-form {
        translate: -55px 0;
    }

}

@media (max-width: 700px) {
    .service-top .text p{
        font-size: 14px;
    }
    .service-top .checks{
        gap: 5px;
        flex-wrap: wrap; 
    }
    .service-top__inner{
        justify-content: flex-start;
    }
    .service-top .top-form {
        translate: 0 0;
    }
    .service-top .top-form h3 {
        font-size: 25px;
    }
    .service-top .top-form .input-box {
        margin-bottom: 15px;
    }
    .service-top .top-form .privacy-text {
        font-size: 12px;
    }
}

@media (max-width: 415px) {
    .service-top .top-form .privacy-text {
        font-size: 10px;
    }
}